<div class="email-capture" data-section-id="{{ section.id }}" data-section-type="email-capture" data-enable-history-state="true">
<div class="email-capture--cta">
  <form action="https://www.getdrip.com/forms/532461030/submissions" method="post" data-drip-embedded-form="532461030">

    <h2 data-drip-attribute="headline" class="headline-l small--hide">{{ section.settings.cta_headline_desktop }}</h2>
    <h2 data-drip-attribute="headline" class="headline-l medium-up--hide">{{ section.settings.cta_headline_mobile }}</h2>
    <hr>
    <p data-drip-attribute="description" class="copy">{{ section.settings.cta_copy }}</p>
    <div class="email-capture--inputs">
      <input class="email-capture--email" placeholder="{{ section.settings.placeholder }}" type="email" id="drip-email" name="fields[email]" value="" />
      <button class="email-capture--submit" type="submit" data-drip-attribute="sign-up-button" >
        {% include 'submit-arrow' %}
      </button>
    </div>
  </form>

</div>

<div class="email-capture--success">
  <h2 class="headline-l">{{ section.settings.confirmation_headline }}</h2>
  <hr>
  <p class="copy">{{ section.settings.confirmation_copy }}</p>
</div>
</div>

{% schema %}
  {
    "name": "Email Capture",
    "settings": [
      {
        "type": "header",
        "content": "Email Form"
      },
      {
        "type": "richtext",
        "id": "cta_headline_desktop",
        "label": "CTA Headline Desktop",
        "default": "<p>We started from scratch<br/>to reimagine everything<br/>a diaper could be.</p>"
      },
      {
        "type": "richtext",
        "id": "cta_headline_mobile",
        "label": "CTA Headline Mobile",
        "default": "<p>We started<br/>from scratch<br/>to reimagine<br/>everything a<br/>diaper could be.<p/>"
      },
      {
        "type": "textarea",
        "id": "cta_copy",
        "label": "CTA Copy",
        "default": "Stay tuned for launch updates and special offers."
      },
      {
        "type": "text",
        "id": "placeholder",
        "label": "Email Placeholder",
        "default": "Your email"
      },
      {
        "type": "header",
        "content": "Confirmation"
      },
      {
        "type": "textarea",
        "id": "confirmation_headline",
        "label": "Confirmation Headline",
        "default": "Thank you!"
      },
      {
        "type": "textarea",
        "id": "confirmation_copy",
        "label": "Confirmation Copy",
        "default": "Check your email for confirmation."
      }
    ]
  }

{% endschema %}